<!DOCTYPE html>
<html>
<head  th:include="fragments/header :: headerFragment('ED-MEX MODIFY USER')">
</head>
<body>
<div th:replace="fragments/title.html :: title ('ED-MEX MODIFY',true)"></div>
<div th:replace="fragments/navbar.html :: bar"></div>
<div class="main-div mx-auto">

    <form class="padding mx-auto" action="#" th:action="@{/user-modify}" method="post" th:object="${user}">
        <h3>MODIFICA UTENTE</h3>
        <span th:if="${error}"  th:text="${error}">Error</span>
        <div class="row-padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <label>Username
                            <input class="input col-sm" type="text" th:field="*{username}" required/><br/>
                        </label>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label>Password:
                            <input class="input col-sm" type="password" th:field="*{password}"/><br/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <label>Ruolo:
                            <select name="Roles" th:field="*{role}">
                                <option th:each="role : ${T(com.vincent.edmex.config.UserRole).values()}"
                                        th:value="${role}" th:text="${role}"></option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm ">
                        <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off" th:field="*{enabled}">
                        <label class="btn btn-primary" for="btn-check-2">Enabled?</label>

                    </div>


                </div>
            </div>
        </div>
        <div class="container">
            <button class="button-style " type="submit">Register</button>
        </div>
    </form>
</div>
</body>
</html>