
<div th:fragment="bar" style="background-color: white"  sec:authorize="hasAuthority('ROLE_ADMIN')">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-item nav-link" th:href="@{/}"
                       th:classappend="${(#httpServletRequest.getRequestURI() == '/' ? 'active':'') + (#httpServletRequest.getRequestURI().contains('/home') ? 'active':'')}">
                        Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: white">
                        <a class="nav-item nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/register' ? 'active':''}"
                           th:href="@{/register}">New User</a>
                        <a class="nav-item nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/user-modify' ? 'active':''}"
                           th:href="@{/user-modify}">Modify User</a>
                        <a class="nav-item nav-link"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/user-manager' ? 'active':''}"
                           th:href="@{/user-manager}" method="post">Manager User</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>