<div th:fragment="title(titleText,logout)" style="background:white; border-bottom: 1px solid #ccc !important;">
    <nav class="navbar navbar-light" >
        <a class="navbar-brand title_style" th:text="${titleText}"></a>
        <div id="navbarSupportedContent" th:style="${logout ? 'display:block' : 'display:none'}">
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <button class="logout-button" type="submit"
                        value="Sign Out">Esci
                </button>
            </form>
        </div>
    </nav>
</div>