.ticker-wrapper-v {
    display: flex;
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.4);
    height: 36px;
}

.ticker-wrapper-v .heading {
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: #fff;
    padding: 5px 10px;
    flex: 0 0 auto;
}

.news-ticker-v {
    animation-name: tickerv;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 0, .5, 0);
}

.news-ticker-v:hover {
    animation-play-state: running;
}

.news-ticker-v li {
    display: flex;
    width: 100%;
    line-height: 30px;
    align-items: center;
    padding-left: 20px;
}

.news-ticker-v li a {
    color: #212529;
    font-weight: bold;
}

@media screen and (min-width: 701px) {
    @keyframes tickerv {
        0% {
            margin-top: 0;
        }
        10% {
            margin-top: -30px;
        }
        20% {
            margin-top: 0;
        }
        30% {
            margin-top: -30px;
        }
        40% {
            margin-top: 0;
        }
        50% {
            margin-top: -30px;
        }
        60% {
            margin-top: 0;
        }
        70% {
            margin-top: -30px;
        }
        80% {
            margin-top: 0;
        }
        90% {
            margin-top: -30px;
        }
        100% {
            margin-top: 0;
        }


    }
}

@media screen and (max-width: 700px) {
    @keyframes tickerv {
        0% {
            margin-top: 0;
        }
        25% {
            margin-top: -30px;
        }
        50% {
            margin-top: -60px;
        }
        75% {
            margin-top: -90px;
        }
        100% {
            margin-top: 0;
        }
    }
}